@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.ttf);
}

body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: #525252;
}

.ucpa-page {
    display: none;
}


#menu-modal {
    color: #525252;
    margin-top: 5%;
}

#menu-modal .modal-dialog {
    width: 600px;
}

#reset-btn {
    float: right;
    margin-right: 20px;
}

/* HEADER */
#restart-btn {
    margin-left: 10px;
}

#profile-info {
    display: none;
    float: right;
    padding-top: 70px;
    bottom: 0;
}

#name {
    color: #d9534f;
}

#basecamp {
    width: 150px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}

#save {
    float: left;
    background-color: #d9534f;
    position: relative;
    top: 44px;
    left: 194px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px double #461B1A;
    cursor: pointer;
}


/* WELCOME */
#ucpa-welcome {
    display: block;
    margin-top: 5%;
    padding-top: 20px;
    text-align: center;
}

#start-btn {
    margin-top: 30px;
}


/* "LOGIN" */

#ucpa-login {
    margin-top: 5%;
    /* padding-top: 20px; */
    text-align: center;
}

#login-form {
    margin-top: 30px;
}

#login-btn {
    margin-top: 10px;
}

#login-error {
    color: #d9534f;
    visibility: hidden;
    margin-right: -5px;
    margin-top: 10px;
}


/* QUESTIONS */
.ucpa-question .title {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    text-align: center;
    font-size: 46px;
}

.ucpa-question {
    text-align: center;
}

.ucpa-responses {
    margin-top: 20px;
}

.ucpa-response {
    margin-top: 20px;
}

.resp-btn {
    font-size: 14px;
}

.next-btn {
    margin-left: 10px;
}

.prev-btn {
    margin-right: 10px;
}


/* RESULT */
#ucpa-results {
    margin-top: 50px;
    display: none;
    text-align: center;
}

#ucpa-results .level-txt {
    font-size: 20px;
}

#level {
    line-height: 130px;
    font-size: 150px;
}

#ucpa-comment {
    font-size: 18px;
    margin-top: 30px;
}

#comment-good {
    color: #a6d490;
    display: none;
}

#comment-bad {
    color: #d9534f;
    display: none;
}

#reload-btn {
    margin-top: 30px;
}


/* PULSE FOR TITLE */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    color: white;
  }

  50% {
    -webkit-transform: scale3d(1.15, 1.15, 1.15);
    transform: scale3d(1.05, 1.05, 1.05);
    color: #d9534f;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    color: white;
  }
}
